version: 2
updates:
  - package-ecosystem: npm
    directories:
      - "/"
      - "/example"
    schedule:
      interval: daily
    ignore:
      - dependency-name: "react-native"
      - dependency-name: "react"
      - dependency-name: "@types/react"
      - dependency-name: "react-test-renderer"
      - dependency-name: "expo"
      - dependency-name: "expo-system-ui"
      - dependency-name: "expo-module-scripts"
      - dependency-name: "expo-modules-core"
      - dependency-name: "react-native-screens"
      - dependency-name: "react-native-safe-area-context"
      - dependency-name: "jest"
      - dependency-name: "@react-native/babel-preset"
      - dependency-name: "@react-native/metro-config"
      - dependency-name: "@react-native-community/cli"
      - dependency-name: "@react-native-community/cli-platform-ios"
      - dependency-name: "@react-native-community/cli-platform-android"

    target-branch: "main"
    open-pull-requests-limit: 99